/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
.page {
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--main-text-color, #f1b2ce);
  background-color: var(--bg-color, #061148);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}
.decorated-zone::before {
  top: var(--decor-offset, 10px);
  right: var(--decor-offset, 10px);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
}
.decorated-zone::after {
  bottom: var(--decor-offset, 10px);
  left: var(--decor-offset, 10px);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
}
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 75px 10px 66px;
}
.header__decor {
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 40px;
  text-transform: uppercase;
  font-weight: 400;
}
.header__decor::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  left: 45px;
  top: 8px;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
}
.header__theme-menu {
  justify-self: end;
}
.header__theme-menu-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  background-color: transparent;
  text-transform: lowercase;
  border-inline: initial;
  border-block: initial;
  padding: initial;
  inline-size: 70px;
  block-size: 26px;
  line-height: 18px;
}
.header__theme-menu-button:hover {
  border-inline: 1px solid var(--hover-accent-color, rgba(255, 0, 112, 0.4));
  border-block: 1px solid var(--hover-accent-color, rgba(255, 0, 112, 0.4));
}
.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--accent-color, #ff0070);
}
.header__theme-menu-button_active {
  border-inline: 1px solid var(--accent-color, #ff0070);
  border-block: 1px solid var(--accent-color, #ff0070);
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page__title {
  align-self: center;
  color: var(--heading-color, #db00ff);
  font-size: 157px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
}
.shadow-decor {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}
.header__title {
  /* inline-size: 355px; */
  inline-size: clamp(355px, 346.41px + 2.29vw, 364px);
  align-self: end;
}
.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--text-on-accent-color);
  font-weight: 700;
  font-size: inherit;
}
.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start:var(--section-margin-start, 50px);
  padding: 0 10px;
  line-height: inherit;
}
.section__title:not(.title-decor) {
  font-size: inherit;
  color: var(--accent-color, #ff0070);
}
.section.section__why {
  margin-block-start: calc(var(--section-margin-start, 50px) - 10px);
}
.article__title {
  font-size: inherit;
  margin-block-start:var(--article__title-margin-start, 20px);
}
.article__description {
  margin-block-start: var(--article__description-margin-start, 10px);
}
.article__link {
  text-decoration: none;
}
.article__link.shadow-decor {
  text-shadow: 1px 1px 0 var(--accent-color, #ff0070);
}
.article__link:hover {
  border-block-end: 1px solid var(--main-text-color, #f1b2ce);
}
.article__link:focus {
  padding: 1px;
  outline: 1px solid var(--main-text-color, #f1b2ce);
}
.article__list-item-title {
  font-weight: 400;
}
.section__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--section-gallery-gap, 10px);
}
.section__galery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  margin-block-start: calc(var(--section-margin-start, 50px) - 10px);
  min-block-size: 668px;
  justify-items: center;

}
@media (width>=768px) {
  .page__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .shadow-decor {
    text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  }
  .header {
    padding: 192px 20px 183px 0;
  }
  .header__title {
    /* inline-size: 364px; */
    inline-size: clamp(364px, -17.00px + 49.61vw, 491px);
    justify-self: end;
  }
  .decorated-zone::before {
    top: var(--decor-offset, 20px);
    right: var(--decor-offset, 20px);
  }
  .decorated-zone::after {
    bottom: var(--decor-offset, 20px);
    left: var(--decor-offset, 20px);
  }
  .header__decor {
    top: 20px;
    right: 50px;
  }
  .section {
    grid-template-columns: 236px 1fr;
    padding: 0 20px;
    gap: 20px;
    margin-block-start:var(--section-margin-start, 80px);
  }
  .section.section__why {
    margin-block-start: calc(var(--section-margin-start, 80px) - 20px);
  }
  .section__why .article__list-item:first-child .article__title,
  .section__what .article__list-item:first-child .article__title,
  .article__list-title {
    margin-block-start: initial;
  }
  .section__what .article__list {
    grid-column: span 2;
  }
  .section__how .article__list {
    grid-column: 2;
    grid-row: 1;
  }
  .article__list-title {
    align-self: start;
    grid-row: 1;
    grid-column: 2;
  }
  .section__how .article__list-item:first-child .article__title {
    margin-block-start: 43px;
  }
  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap:var(--section-gallery-gap, 20px)
  } 
  .section__gallery .section__title {
    grid-column: 1/4;
  }
  .image__sunset {
    grid-column: 1/3;
  }
  .image__ice-cream {
    grid-column: 3/4;

    grid-row: 2/4;
  }
  .image__tape {
    grid-row: 3/5;
  }
  .image__street {
    grid-column: 2/4;
  }
  .footer {
    min-block-size: 1024px;
   margin-block-start: calc( var(--section-margin-start) - 20px);
  }
}
@media (width>=1024px) {
  .header {
    grid-template-rows: 1fr min-content 1fr;
    padding: 20px 20px 134px 0;
  }
  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-end: 275px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .header__title {
    min-inline-size: 491px;
  }
  .section {
    grid-template-columns: repeat(3, 1fr);
  }
  .article__list {
    grid-column: span 2;
  }
  .section__what .article__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: span 3;
  }
  .section__what .article__list-item .article__title {
    margin-block-start: 0;
  }
  .section__how .article__list {
    grid-column: 2 / span 2;
  }
  .article__list-title {
    grid-column: 2 / span 2;
  }
  .footer{
    min-block-size: 768px;

  }
}